# Overview

This is a library that allows you to operate SwitchBot via its API using the Go programming language.

## Document
- official SwitchBot API document
  - https://github.com/OpenWonderLabs/SwitchBotAPI

## Using Library
- https://github.com/kaptinlin/jsonschema (v0.2.3)
- https://github.com/swaggest/jsonschema-go (v0.3.74)
- https://github.com/stretchr/testify (v1.10.0)

## File Descriptions
- `device.go`
  - Defines the structures for each device
  - Based on the response of `GET /v1.1/devices`
- `device_control.go`
  - Implements commands available for each device using `POST /v1.1/devices/{deviceId}/commands`
  - Only implements commands that can be used for each device
- `device_control_llm.go`
  - Implements commands available for each device using `POST /v1.1/devices/{deviceId}/commands`
  - Unlike `device_control.go`, only `ExecCommand` is implemented for each device, and the operation changes depending on the arguments
  - The arguments for each device are defined as structs so that they can be expressed in JSON Schema
    - Parameters required only for specific commands are strictly defined using if statements
    - The descriptions for each parameter are based on the descriptions provided in the [Send device control commands section](https://github.com/OpenWonderLabs/SwitchBotAPI?tab=readme-ov-file#send-device-control-commands) of the official documentation.
  - Also implements the `GetCommandParameterJSONSchema` method, which returns the JSON Schema for each device as a string
- `device_status.go`
  - Defines the status structures for each device based on the response of `GET /v1.1/devices/{deviceId}/status`
  - Also implements the `GetStatus` method for each device structure to retrieve the status
